:root {
  --primary-color: #5443a0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

h1 {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.input {
  padding: 0.3rem;
  border: none;
  border-bottom: 1px solid gray;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-bottom: 1px solid var(--primary-color);
}

.controller-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: rgb(232, 232, 232);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn:hover {
  border-radius: 999px;
}
