@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetCore.Pages.IndexModel

<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="/css/index.css" asp-append-version="true">
    <script src="/js/index.js" defer asp-append-version="true"></script>
</head>
<h1>Hello World</h1>
<button id="logout-button">Logout</button>