@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetCore.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="search-container">
    <input class="search-box" placeholder="Programming Tutorial" />
    <button class="btn btn-primary">Хайх</button>
</div>