@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetYoutube.Pages.LoginModel

<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="/css/common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/login.css" asp-append-version="true">
    <script src="/js/login.js" defer></script>
</head>
<div class="container">
    <h1>Login</h1>
    <form method="post" id="form" class="form">
        <div class="controller-group">
            <label for="email-input">Email:</label>
            <br>
            <input class="input" id="email-input" name="email" type="email" placeholder="mn@gmail.com" required />
        </div>
        <div class="controller-group">
            <label for="password-input">Password:</label>
            <br>
            <input class="input" id="password-input" name="password" type="password" placeholder="********" required />
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
        <a href="/Register" style="text-align:center;text-decoration: none;">
            Register
        </a>
    </form>
</div>