@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetYoutube.Pages.RegisterModel

<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="/css/common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/register.css" asp-append-version="true">
    <script src="/js/register.js" defer></script>
</head>
<div class="container">
    <h1>Бүртгүүлэх</h1>
    <form method="post" id="form" class="form">
        <div class="controller-group">
            <label for="email-input">И-Мэйл:</label>
            <br>
            <input class="input" id="email-input" name="email" type="email" placeholder="mn@gmail.com" required />
        </div>
        <div class="controller-group">
            <label for="password-input">Нууц үг:</label>
            <br>
            <input class="input" id="password-input" name="password" type="password" placeholder="********" required />
        </div>
        <button class="btn btn-primary" type="submit">Бүртгүүлэх</button>
         <a href="/Login" style="text-align:center;text-decoration: none;">
            Нэвтрэх
        </a>
    </form>
</div>