@page
@model AspNetYoutube.Pages.VideosModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<video id="video" controls autoplay></video>
<h1 id="title"></h1>
<p id="username"></p>

<hr>
<div id="comments"></div>
<div id="comment-container">
    <input id="comment" />
    <div id="send-button">&raquo;</div>
</div>

<script src="~/js/video.js" asp-append-version="true">
</script>