@page
@model AspNetYoutube.Pages.VideosModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<video id="video" controls autoplay></video>
<iframe id="iframe"></iframe>
<h1 id="title"></h1>
<p id="username"></p>

<div id="edit-container">
    <input id="title-input" />
    <button id="save-button" class="btn">Хадаглах</button>
    <button id="delete-button" class="btn">Устгах</button>
</div>

<hr>
<div id="comments"></div>
<div id="comment-container">
    <input id="comment" />
    <div id="send-button">&raquo;</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.js"></script>
<script src="~/js/video.js" asp-append-version="true"></script>